*{     margin: 0;     padding: 0;     box-sizing:Border-Box; }  body{     background-color:light rgb(153, 200, 231);     text-align: center;     line-height: 2.4; }  .hero{    padding:20px 10px;      }   .hero img{      border-radius: 50%;     margin-bottom: 10px; }  .section h2{      font-size: 22px; }   .hero h2{     font-size: 37px; }  .accent{     color: rgb(0, 0, 0); }  .grid{     display: flex;     gap: 15px;     justify-content:center;     flex-wrap:wrap; }   .grid div{     padding: 15px;     border-radius: 100px;     background-color: rgb(137, 183, 213);     width: 260px;; }  
 @media (max-width: 768px){     
    body{background-color:rgb(220, 233, 233);}   }































