*{
    margin: 0;
    padding: 0;
    box box-sizing:Border-Box;
}

body{
    background-color:light rgb(153, 200, 231);
    text-align: center;
    line-height: 2.4;
}

.hero{
   padding:20px 10px;
    
}


.hero img{ 
    border-radius: 50%;
    margin-bottom: 10px;
}

.section h2{
     font-size: 22px;
}


.hero h2{
    font-size: 37px;
}

.accent{
    color: rgb(0, 0, 0);
}

.grid{
    display: grid;
    gap: 15px;
}

.grid div{
    padding: 20px;
    border-radius: 40px;
    background-color: rgb(24, 43, 82);
}


